# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

Some of the popular languages that Data Scientists use are:
Python
R
SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Scikit-Learn
4. Matplotlib
5. Tensorflow

Exercise 6 - Create a markdown cell with a table of Data Science tools:
1. python
2. jupiter
3. colabe

Below are a few examples of evaluating arithmetic expressions in Python

In [13]:
(3*4)+5

17

In [17]:
# This will convert 2000 minutes to hours by diving by 60

2000/60

33.333333333333336

# Objectives:
## List popular languages for Data Science:
1. python
2. jupiter

In [ ]:
# Author Name
Naureen Maqbool